/* You can add global styles to this file, and also import other style files */
body, header, div, app-root {
  margin: 0;
  padding: 0;
}


.photo {
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  background: #2ca448;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.sidebar app-sidebar {
  margin: 0 auto;
  width: 100%;
}
